{% if empresa_actual %}

<button
    type="button"
    id="llamadorAlertas"
    class="llamador-alertas"
    aria-label="Abrir alertas"
    title="Alertas"
>
    <span class="llamador-alertas-icono">

        <svg
            viewBox="0 0 24 24"
            aria-hidden="true"
        >
            <path
                d="
                    M18 8
                    a6 6 0 0 0-12 0
                    c0 7-3 7-3 9
                    h18
                    c0-2-3-2-3-9
                "
            ></path>

            <path
                d="
                    M10 21
                    h4
                "
            ></path>
        </svg>

    </span>
</button>

{% endif %}
