<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">

<title>Ordenaclick</title>



{% load static %}

<link
    rel="stylesheet"
    href="{% static 'css/perfiles/administrador/panel.css' %}?v=1"
>

<link
    rel="stylesheet"
    href="{% static 'css/comunes/sidebar.css' %}?v=2"
>

<link
    rel="stylesheet"
    href="{% static 'css/comunes/navegacion_modulos.css' %}?v=6"
>

<link
    rel="stylesheet"
    href="{% static 'css/maestros/abms.css' %}?v=2"
>

<link
    rel="stylesheet"
    href="{% static 'css/componentes/vencimientos.css' %}?v=3"
>

<link
    rel="stylesheet"
    href="{% static 'css/componentes/llamador_alertas.css' %}?v=1"
>

<link
    rel="stylesheet"
    href="{% static 'css/caja/caja.css' %}?v=11"
>

<link
    rel="stylesheet"
    href="{% static 'css/empresa/configuracion_empresa.css' %}?v=3"
>

</head>

<body>

<input
type="hidden"
id="empresaActiva"
value="{{ empresa_actual.id }}">

<!-- =========================
     SIDEBAR
========================= -->

<aside class="sidebar">

<div>

<div class="logo">
Ordena<span>click</span>
</div>

<div class="user-box">

<div class="user-label">
Administrador conectado
</div>

<div class="user-name">
{{ request.user.get_full_name|default:request.user.username }}
</div>

</div>


{% if not empresa_actual %}

<div
    class="menu"
    id="menu-principal"
>

<button
    class="sidebar-nav-btn"
    type="button"
    data-sidebar-item
    onclick="mostrarEmpresas()"
>

<span class="sidebar-nav-icon">

<svg viewBox="0 0 24 24">
    <rect
        x="3"
        y="5"
        width="18"
        height="14"
        rx="2"
    ></rect>
    <path d="M3 10h18"></path>
    <path d="M8 15h3"></path>
</svg>

</span>

<span class="sidebar-nav-text">
Seleccionar empresa
</span>

</button>


<button
    class="sidebar-nav-btn"
    type="button"
    data-sidebar-item
    onclick="mostrarAltaEmpresa()"
>

<span class="sidebar-nav-icon">

<svg viewBox="0 0 24 24">
    <path d="M12 5v14"></path>
    <path d="M5 12h14"></path>
</svg>

</span>

<span class="sidebar-nav-text">
Alta nueva empresa
</span>

</button>


<div class="sidebar-separator"></div>


<a
    href="{% url 'home' %}"
    class="
        sidebar-nav-btn
        sidebar-nav-secondary
    "
>

<span class="sidebar-nav-icon">

<svg viewBox="0 0 24 24">
    <path d="M9 18l-6-6 6-6"></path>
    <path d="M3 12h18"></path>
</svg>

</span>

<span class="sidebar-nav-text">
Volver a roles
</span>

</a>


<a
    href="{% url 'logout' %}"
    class="
        sidebar-nav-btn
        sidebar-nav-danger
    "
>

<span class="sidebar-nav-icon">

<svg viewBox="0 0 24 24">
    <path d="M10 17l5-5-5-5"></path>
    <path d="M15 12H3"></path>
    <path
        d="
            M15 3h4
            a2 2 0 0 1 2 2
            v14
            a2 2 0 0 1-2 2
            h-4
        "
    ></path>
</svg>

</span>

<span class="sidebar-nav-text">
Salir
</span>

</a>

</div>

{% endif %}


{% if empresa_actual %}

<div
    class="menu"
    id="menu-empresa"
>


<button
    class="sidebar-nav-btn"
    type="button"
    data-sidebar-item
    onclick="mostrarSubmenu('registros')"
>

<span class="sidebar-nav-icon">

<svg viewBox="0 0 24 24">
    <rect
        x="4"
        y="3"
        width="16"
        height="18"
        rx="2"
    ></rect>
    <path d="M8 8h8"></path>
    <path d="M8 12h8"></path>
    <path d="M8 16h5"></path>
</svg>

</span>

<span class="sidebar-nav-text">
Registros
</span>

</button>

<button
    id="btnSidebarCaja"
    class="sidebar-nav-btn"
    type="button"
    data-sidebar-item
>

    <span class="sidebar-nav-icon">

        <svg viewBox="0 0 24 24">
            <rect
                x="3"
                y="5"
                width="18"
                height="14"
                rx="2"
            ></rect>
            <path d="M3 10h18"></path>
            <path d="M7 15h4"></path>
        </svg>

    </span>

    <span class="sidebar-nav-text">
        Caja
    </span>

</button>

<button
    class="sidebar-nav-btn"
    type="button"
    data-sidebar-item
    onclick="mostrarContenido('Dashboard')"
>

<span class="sidebar-nav-icon">

<svg viewBox="0 0 24 24">
    <rect
        x="3"
        y="3"
        width="7"
        height="7"
        rx="1"
    ></rect>
    <rect
        x="14"
        y="3"
        width="7"
        height="7"
        rx="1"
    ></rect>
    <rect
        x="3"
        y="14"
        width="7"
        height="7"
        rx="1"
    ></rect>
    <rect
        x="14"
        y="14"
        width="7"
        height="7"
        rx="1"
    ></rect>
</svg>

</span>

<span class="sidebar-nav-text">
Dashboard
</span>

</button>


<button
    id="btnProximosVencimientos"
    type="button"
    class="sidebar-nav-btn"
    data-sidebar-item
>

<span class="sidebar-nav-icon">

<svg viewBox="0 0 24 24">
    <rect
        x="3"
        y="5"
        width="18"
        height="16"
        rx="2"
    ></rect>
    <path d="M8 3v4"></path>
    <path d="M16 3v4"></path>
    <path d="M3 10h18"></path>
    <path d="M12 14v3"></path>
    <path d="M12 17h2"></path>
</svg>

</span>

<span class="sidebar-nav-text">
Próximos vencimientos
</span>

</button>


<button
    class="sidebar-nav-btn"
    type="button"
    data-sidebar-item
    onclick="mostrarContenido('Reportes')"
>

<span class="sidebar-nav-icon">

<svg viewBox="0 0 24 24">
    <path d="M4 20V10"></path>
    <path d="M10 20V4"></path>
    <path d="M16 20v-7"></path>
    <path d="M22 20H2"></path>
</svg>

</span>

<span class="sidebar-nav-text">
Reportes
</span>

</button>


<button
    class="sidebar-nav-btn"
    type="button"
    data-sidebar-item
    onclick="
        mostrarContenido(
            'Estado de Resultados'
        )
    "
>

<span class="sidebar-nav-icon">

<svg viewBox="0 0 24 24">
    <path d="M4 19V9"></path>
    <path d="M10 19V5"></path>
    <path d="M16 19v-7"></path>
    <path d="M3 19h18"></path>
    <path d="M18 8l2-2"></path>
    <path d="M20 6v4"></path>
</svg>

</span>

<span class="sidebar-nav-text">
Estado de Resultados
</span>

</button>


<button
    class="sidebar-nav-btn"
    type="button"
    data-sidebar-item
    onclick="mostrarContenido('Balance')"
>

<span class="sidebar-nav-icon">

<svg viewBox="0 0 24 24">
    <path d="M12 3v18"></path>
    <path d="M5 6h14"></path>
    <path d="M7 6l-4 7h8L7 6z"></path>
    <path d="M17 6l-4 7h8l-4-7z"></path>
</svg>

</span>

<span class="sidebar-nav-text">
Balance
</span>

</button>


<div class="sidebar-separator"></div>


<button
    class="sidebar-nav-btn"
    type="button"
    data-sidebar-item
    onclick="mostrarSubmenu('herramientas')"
>

<span class="sidebar-nav-icon">

<svg viewBox="0 0 24 24">
    <path
        d="
            M14.7 6.3
            a4 4 0 0 0-5 5
            L3 18
            l3 3
            6.7-6.7
            a4 4 0 0 0 5-5
        "
    ></path>
    <path d="M15 4l5 5"></path>
</svg>

</span>

<span class="sidebar-nav-text">
Herramientas
</span>

</button>


<button
    class="sidebar-nav-btn"
    type="button"
    data-sidebar-item
    onclick="mostrarSubmenu('abms')"
>

<span class="sidebar-nav-icon">

<svg viewBox="0 0 24 24">
    <path d="M4 7h16"></path>
    <path d="M4 12h16"></path>
    <path d="M4 17h16"></path>
    <circle cx="7" cy="7" r="1"></circle>
    <circle cx="12" cy="12" r="1"></circle>
    <circle cx="17" cy="17" r="1"></circle>
</svg>

</span>

<span class="sidebar-nav-text">
ABMs
</span>

</button>


<button
    class="sidebar-nav-btn"
    type="button"
    data-sidebar-item
    onclick="
        mostrarSubmenu(
            'configuracion'
        )
    "
>

<span class="sidebar-nav-icon">

<svg viewBox="0 0 24 24">
    <circle
        cx="12"
        cy="12"
        r="3"
    ></circle>
    <path
        d="
            M19.4 15
            a1.7 1.7 0 0 0 .3 1.9
            l.1.1-2 3.4-.2-.1
            a1.7 1.7 0 0 0-2-.1
            1.7 1.7 0 0 0-1 .9
            V21h-4v-.1
            a1.7 1.7 0 0 0-1-.9
            1.7 1.7 0 0 0-2 .1
            l-.2.1-2-3.4.1-.1
            a1.7 1.7 0 0 0 .3-1.9
            1.7 1.7 0 0 0-1.5-1
            H4v-4h.1
            a1.7 1.7 0 0 0 1.5-1
            1.7 1.7 0 0 0-.3-1.9
            l-.1-.1 2-3.4.2.1
            a1.7 1.7 0 0 0 2 .1
            1.7 1.7 0 0 0 1-.9
            V3h4v.1
            a1.7 1.7 0 0 0 1 .9
            1.7 1.7 0 0 0 2-.1
            l.2-.1 2 3.4-.1.1
            a1.7 1.7 0 0 0-.3 1.9
            1.7 1.7 0 0 0 1.5 1
            h.1v4h-.1
            a1.7 1.7 0 0 0-1.3 1.2
        "
    ></path>
</svg>

</span>

<span class="sidebar-nav-text">
Configuración
</span>

</button>


<div class="sidebar-separator"></div>


<button
    type="button"
    class="
        sidebar-nav-btn
        sidebar-nav-secondary
    "
    onclick="mostrarEmpresas()"
>

<span class="sidebar-nav-icon">

<svg viewBox="0 0 24 24">
    <path d="M4 21V5h12v16"></path>
    <path d="M8 9h4"></path>
    <path d="M8 13h4"></path>
    <path d="M8 17h4"></path>
    <path d="M16 9h4v12"></path>
</svg>

</span>

<span class="sidebar-nav-text">
Cambiar empresa
</span>

</button>


<a
    class="
        sidebar-nav-btn
        sidebar-nav-secondary
    "
    href="{% url 'home' %}"
>

<span class="sidebar-nav-icon">

<svg viewBox="0 0 24 24">
    <path d="M3 11l9-8 9 8"></path>
    <path d="M5 10v10h14V10"></path>
    <path d="M9 20v-6h6v6"></path>
</svg>

</span>

<span class="sidebar-nav-text">
Volver al inicio
</span>

</a>

</div>

{% endif %}


<!-- MENU EMPRESAS -->

<div
    class="menu"
    id="menu-empresas"
    style="display:none;"
>

{% for empresa in empresas %}

<a
    href="?empresa={{ empresa.id }}"
    class="sidebar-company-btn"
>

{{ empresa.nombre_fantasia|default:empresa.razon_social }}

</a>

{% empty %}

<div class="sidebar-empty">
Sin empresas cargadas
</div>

{% endfor %}


<button
    class="sidebar-nav-btn"
    type="button"
    onclick="window.location.reload()"
>

<span class="sidebar-nav-icon">

<svg viewBox="0 0 24 24">
    <path d="M9 18l-6-6 6-6"></path>
    <path d="M3 12h18"></path>
</svg>

</span>

<span class="sidebar-nav-text">
Volver
</span>

</button>

</div>

</div>

</aside>

<!-- =========================
     MAIN
========================= -->

<main class="main">

<div class="topbar">

<div
class="title"
id="titulo-panel"
{% if empresa_actual %}
data-titulo-empresa="{{ empresa_actual.nombre_fantasia|default:empresa_actual.razon_social|escape }}"
{% endif %}
>

{% if empresa_actual %}

{{ empresa_actual.nombre_fantasia|default:empresa_actual.razon_social }}

{% else %}

Panel <span>administrativo</span>

{% endif %}

</div>

{% if empresa_actual %}

<div
id="panel-empresa"
data-designar-perfiles-url="{% url 'gestionar_relaciones_empresa' empresa_actual.id %}"
>

<div class="exercise-info" id="ejercicio-panel">

{% with ejercicio=empresa_actual.ejercicios.first %}

{% if ejercicio %}

Ejercicio Nº {{ ejercicio.numero }}
•
{{ ejercicio.fecha_inicio|date:"d/m/Y" }}
→
{{ ejercicio.fecha_cierre|date:"d/m/Y" }}

{% endif %}

{% endwith %}

</div>

<div
id="submenu-dinamico"
class="modules"
style="margin-top:20px;">
</div>

<div
id="contenido-operativo"
style="margin-top:25px;">

<div class="empty-state">

Seleccione una opción del menú lateral

</div>

</div>

</div>

{% endif %}

</div>


</div>

<div
id="bloque-alta-empresa"
{% if empresa_importada %}
style="display:block;"
{% else %}
style="display:none;"
{% endif %}>

<div class="card">

<div
class="empty-state"
id="contenido"
{% if empresa_importada %}
style="display:none;"
{% endif %}>

Seleccioná una empresa desde el panel lateral
o creá una nueva empresa para comenzar.

</div>

<form
id="form-importacion"
method="post"
action="{% url 'importar_empresa' %}"
enctype="multipart/form-data"
hidden>

{% csrf_token %}

<input
type="file"
id="archivo-importacion"
name="archivo_zip"
accept=".zip"
hidden>

</form>

<!-- FORMULARIO -->

<form
id="form-alta"
{% if empresa_importada %}
style="display:block;"
{% else %}
style="display:none;"
{% endif %}
method="POST"
enctype="multipart/form-data">

{% csrf_token %}

<div class="form-grid">

<div class="field">

<label class="label">
Razón social
</label>

<input
type="text"
name="razon_social"
class="input-box"
value="{% if empresa_importada %}{{ empresa_importada.razon_social }}{% elif empresa_actual %}{{ empresa_actual.razon_social }}{% endif %}"
placeholder="Razón social">

</div>

<div class="field">

<label class="label">
Nombre fantasía
</label>

<input
type="text"
name="nombre_fantasia"
class="input-box"
value="{% if empresa_importada %}{{ empresa_importada.nombre_fantasia }}{% elif empresa_actual %}{{ empresa_actual.nombre_fantasia }}{% endif %}"
placeholder="Nombre fantasía">

</div>

<div class="field">

<label class="label">
Condición fiscal
</label>

<select
name="condicion_fiscal"
class="input-box">

<option value="">Seleccionar</option>

<option
value="Responsable inscripto"
{% if empresa_actual.condicion_fiscal == "Responsable inscripto" or empresa_importada.condicion_fiscal == "Responsable inscripto" %}selected{% endif %}>
Responsable inscripto
</option>

<option
value="Monotributo"
{% if empresa_actual.condicion_fiscal == "Monotributo" or empresa_importada.condicion_fiscal == "Monotributo" %}selected{% endif %}>
Monotributo
</option>

<option
value="Exento"
{% if empresa_actual.condicion_fiscal == "Exento" or empresa_importada.condicion_fiscal == "Exento" %}selected{% endif %}>
Exento
</option>

<option
value="Consumidor final"
{% if empresa_actual.condicion_fiscal == "Consumidor final" or empresa_importada.condicion_fiscal == "Consumidor final" %}selected{% endif %}>
Consumidor final
</option>

</select>

</div>

<div class="field">

<label class="label">
CUIT
</label>

<input
type="text"
name="cuit"
class="input-box"
placeholder="20-12345678-9"
value="{% if empresa_importada %}{{ empresa_importada.cuit }}{% elif empresa_actual %}{{ empresa_actual.cuit }}{% endif %}"
maxlength="13"
pattern="[0-9]{2}-[0-9]{8}-[0-9]{1}"
required>

</div>

<div class="field">

<label class="label">
Inicio actividades
</label>

<input
type="date"
name="inicio_actividades"
class="input-box"
value="{% if empresa_importada %}{{ empresa_importada.inicio_actividades }}{% elif empresa_actual %}{{ empresa_actual.inicio_actividades|date:'Y-m-d' }}{% endif %}">

</div>

<div class="field">

<label class="label">
Inicio contable
</label>

<input
type="date"
name="inicio_contable"
class="input-box"
value="{% if empresa_importada %}{{ empresa_importada.inicio_contable }}{% elif empresa_actual %}{{ empresa_actual.inicio_contable|date:'Y-m-d' }}{% endif %}">

</div>

<div class="field">

<label class="label">
Dirección fiscal
</label>

<input
type="text"
name="direccion_fiscal"
class="input-box"
value="{% if empresa_importada %}{{ empresa_importada.direccion_fiscal }}{% elif empresa_actual %}{{ empresa_actual.direccion_fiscal }}{% endif %}"
placeholder="Dirección fiscal">

</div>

<div class="field">

<label class="label">
Dirección real
</label>

<input
type="text"
name="direccion_real"
class="input-box"
value="{% if empresa_importada %}{{ empresa_importada.direccion_real }}{% elif empresa_actual %}{{ empresa_actual.direccion_real }}{% endif %}"
placeholder="Dirección real">

</div>

<div class="field">

<label class="label">
Teléfono principal
</label>

<input
type="text"
name="telefono1"
class="input-box"
value="{% if empresa_importada %}{{ empresa_importada.telefono1 }}{% elif empresa_actual %}{{ empresa_actual.telefono1 }}{% endif %}"
placeholder="Teléfono principal">

</div>

<div class="field">

<label class="label">
Teléfono secundario
</label>

<input
type="text"
name="telefono2"
class="input-box"
value="{% if empresa_importada %}{{ empresa_importada.telefono2 }}{% elif empresa_actual %}{{ empresa_actual.telefono2 }}{% endif %}"
placeholder="Teléfono secundario">

</div>

<div class="field field-full">

<label class="label">
Correo electrónico
</label>

<input
type="email"
name="email"
class="input-box"
value="{% if empresa_importada %}{{ empresa_importada.email }}{% elif empresa_actual %}{{ empresa_actual.email }}{% endif %}"
placeholder="Correo electrónico">

</div>

<div class="field">

<label class="label">
Presidente
</label>

<input
type="text"
name="presidente"
class="input-box"
value="{% if empresa_importada %}{{ empresa_importada.presidente }}{% elif empresa_actual %}{{ empresa_actual.presidente }}{% endif %}"
placeholder="Presidente">

</div>

<div class="field">

<label class="label">
Vicepresidente
</label>

<input
type="text"
name="vicepresidente"
class="input-box"
value="{% if empresa_importada %}{{ empresa_importada.vicepresidente }}{% elif empresa_actual %}{{ empresa_actual.vicepresidente }}{% endif %}"
placeholder="Vicepresidente">

</div>

</div>
```


<div

style="
margin-top:30px;
margin-bottom:20px;
padding-bottom:10px;
border-bottom:1px solid #334155;
font-size:16px;
font-weight:600;
color:#cbd5e1;
">

Documentación societaria

</div>

<div class="form-grid">

<div class="field">

<label
class="label"
style="
display:block;
margin-top:20px;
">

Estatuto

</label>

{% if empresa_actual and empresa_actual.estatuto %}

<div style="
margin-bottom:8px;
font-size:13px;
color:#64748b;
">

Archivo cargado:

<strong>

{{ empresa_actual.estatuto.name|cut:"documentos/" }}

</strong>

<br>

Fecha:

{{ empresa_actual.fecha_estatuto|date:"d/m/Y" }}

</div>

<a
href="{{ empresa_actual.estatuto.url }}"
target="_blank"
class="sidebar-btn"
style="
height:38px;
font-size:13px;
margin-bottom:8px;
">

Ver archivo

</a>

{% else %}

<div style="
margin-bottom:8px;
font-size:13px;
color:#64748b;
">

Sin archivo cargado

</div>

{% endif %}

<label class="file-btn">

<span id="texto-estatuto">
📄 Adjuntar archivo
</span>

<input
type="file"
name="estatuto"
hidden
onchange="mostrarNombreArchivo(this,'texto-estatuto')">

</label>

</div>

<div class="field">

<label
class="label"
style="
display:block;
margin-top:20px;
">

Acta Asamblea

</label>

{% if empresa_actual and empresa_actual.acta %}

<div style="
margin-bottom:8px;
font-size:13px;
color:#64748b;
">

Archivo cargado:

<strong>

{{ empresa_actual.acta.name|cut:"documentos/" }}

</strong>

<br>

Fecha:

{{ empresa_actual.fecha_acta|date:"d/m/Y" }}

</div>

<a
href="{{ empresa_actual.acta.url }}"
target="_blank"
class="sidebar-btn"
style="
height:38px;
font-size:13px;
margin-bottom:8px;
">

Ver archivo

</a>

{% else %}

<div style="
margin-bottom:8px;
font-size:13px;
color:#64748b;
">

Sin archivo cargado

</div>

{% endif %}

<label class="file-btn">

<span id="texto-acta">

📄 Adjuntar archivo

</span>

<input
type="file"
name="acta"
hidden
onchange="mostrarNombreArchivo(this,'texto-acta')">

</label>

</div>

<div class="field field-full">

<label
class="label"
style="
display:block;
margin-top:20px;
">

Designación

</label>

{% if empresa_actual and empresa_actual.designacion %}

<div style="
margin-bottom:8px;
font-size:13px;
color:#64748b;
">

Archivo cargado:

<strong>

{{ empresa_actual.designacion.name|cut:"documentos/" }}

</strong>

<br>

Fecha:

{{ empresa_actual.fecha_designacion|date:"d/m/Y" }}

</div>

<a
href="{{ empresa_actual.designacion.url }}"
target="_blank"
class="sidebar-btn"
style="
height:38px;
font-size:13px;
margin-bottom:8px;
">

Ver archivo

</a>

{% else %}

<div style="
margin-bottom:8px;
font-size:13px;
color:#64748b;
">

Sin archivo cargado

</div>

{% endif %}

<label class="file-btn">

<span id="texto-designacion">

📄 Adjuntar archivo

</span>

<input
type="file"
name="designacion"
hidden
onchange="mostrarNombreArchivo(this,'texto-designacion')">

</label>

</div>

</div>

</div>

<div
id="botonera-alta"
style="
display:flex;
gap:12px;
margin-top:24px;
">

<button
id="btn-importar-empresa"
type="button"
class="action-btn">

📦 Importar Empresa

</button>

<button
type="submit"
name="guardar_empresa"
value="1"
class="guardar"
style="
margin-top:0;
flex:1;
">

Guardar Empresa

</button>

</div>

<div
id="botonera-modificar"
style="
display:none;
flex-direction:column;
gap:12px;
margin-top:24px;
">

<button
type="button"
id="btn-volver-configuracion-empresa"
class="action-btn"
style="
height:52px;
display:flex;
align-items:center;
justify-content:center;
">
← Volver a Configuración
</button>

<button
type="submit"
name="guardar_cambios_empresa"
value="1"
class="guardar">

Guardar Cambios

</button>

{% if empresa_actual %}

<a
href="{% url 'exportar_empresa' empresa_actual.id %}"
class="action-btn"
style="
height:52px;
display:flex;
align-items:center;
justify-content:center;
text-decoration:none;
">

Exportar Empresa

</a>

{% endif %}

<button
id="btnEliminarEmpresa"
type="button"
style="
height:52px;
border:none;
border-radius:16px;
background:#dc2626;
color:white;
font-weight:600;
cursor:pointer;
">

Eliminar Empresa

</button>

</div>

</form>

</div>


</div>

</main>

{% if empresa_actual %}

<button
    type="button"
    id="llamadorAlertas"
    class="llamador-alertas"
    aria-label="Abrir alertas"
    title="Alertas"
>
    <span class="llamador-alertas-icono">

        <svg
            viewBox="0 0 24 24"
            aria-hidden="true"
        >
            <path
                d="
                    M18 8
                    a6 6 0 0 0-12 0
                    c0 7-3 7-3 9
                    h18
                    c0-2-3-2-3-9
                "
            ></path>

            <path
                d="
                    M10 21
                    h4
                "
            ></path>
        </svg>

    </span>
</button>

{% endif %}

<script src="{% static 'js/perfiles/administrador/panel.js' %}?v=1"></script>

<div
id="modal-eliminar-empresa"
style="
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.6);
justify-content:center;
align-items:center;
z-index:9999;
">

<div
style="
background:#1e293b;
padding:24px;
border-radius:16px;
width:500px;
max-width:90%;
color:white;
">

<h3
style="
margin-top:0;
text-align:center;
">

⚠️ Eliminar empresa

</h3>

<div
style="
text-align:center;
line-height:1.8;
margin-top:15px;
margin-bottom:20px;
">

<div>

Se eliminarán:

</div>

<div>

• Datos de la empresa

</div>

<div>

• Documentación asociada

</div>

<br>

<div>

Se recomienda generar una copia de

<strong>

{{ empresa_actual.nombre_fantasia }}

</strong>

antes de continuar.

</div>

</div>

<div
style="
display:flex;
gap:12px;
justify-content:center;
align-items:center;
margin-top:25px;
flex-wrap:wrap;
">

<button
id="btnCancelarEliminarEmpresa"
type="button"
class="sidebar-btn">

Cancelar

</button>

<a
href="/eliminar-empresa/{{ empresa_actual.id }}/"
class="sidebar-btn"
style="
text-decoration:none;
background:#dc2626;
">

Eliminar

</a>

</div>

</div>

</div>

{% if empresa_existente %}

<div
id="modal-reemplazar"
style="
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.60);
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
">

<div
style="
background:#1e293b;
padding:30px;
border-radius:18px;
width:460px;
max-width:90%;
text-align:center;
">

<h2>

Empresa existente

</h2>

<p style="margin:20px 0;line-height:1.8;">

Ya existe una empresa con ese CUIT.

<br><br>

¿Desea reemplazarla?

</p>

<div
style="
display:flex;
gap:12px;
justify-content:center;
">

<a
class="sidebar-btn"
href="{% url 'panel_admin' %}"
style="text-decoration:none;">

No

</a>


<button
type="button"
class="sidebar-btn"
onclick="
window.location='/confirmar-reemplazo/';
">

Sí

</button>

</div>

</div>

</div>

{% endif %}


<script src="{% static 'js/maestros/bancos.js' %}?v=2"></script>

<script src="{% static 'js/maestros/centros_operativos.js' %}?v=5"></script>

<script src="{% static 'js/maestros/proveedores.js' %}?v=3"></script>

<script src="{% static 'js/maestros/tipos_gasto.js' %}?v=3"></script>

<script src="{% static 'js/empresa/gestion_claves.js' %}?v=3"></script>

<script src="{% static 'js/maestros/recursos_operativos.js' %}?v=3"></script>

<script src="{% static 'js/maestros/cuentas_bancarias.js' %}?v=2"></script>

<script src="{% static 'js/maestros/tarjetas.js' %}?v=1"></script>

<script src="{% static 'js/maestros/retenciones.js' %}?v=1"></script>

<script src="{% static 'js/registros/carga_simple.js' %}?v=16"></script>

<script src="{% static 'js/registros/obligaciones.js' %}?v=1"></script>

<script src="{% static 'js/comunes/navegacion_modulos.js' %}?v=2"></script>

<script src="{% static 'js/comunes/sidebar.js' %}?v=1"></script>

<script src="{% static 'js/componentes/vencimientos.js' %}?v=4"></script>

<script src="{% static 'js/componentes/llamador_alertas.js' %}?v=2"></script>

<script src="{% static 'js/caja/caja.js' %}?v=10"></script>

<script src="{% static 'js/maestros/clientes.js' %}?v=6"></script>

<script src="{% static 'js/empresa/panel_importacion.js' %}?v=1"></script>

<script src="{% static 'js/empresa/configuracion_empresa.js' %}?v=4"></script>
</body>
</html>
