<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">

<title>Ordenaclick</title>



{% load static %}

<link
    rel="stylesheet"
    href="{% static 'css/perfiles/administrador/panel.css' %}?v=1"
>

<link
    rel="stylesheet"
    href="{% static 'css/comunes/sidebar.css' %}?v=2"
>

<link
    rel="stylesheet"
    href="{% static 'css/comunes/navegacion_modulos.css' %}?v=6"
>

<link
    rel="stylesheet"
    href="{% static 'css/maestros/abms.css' %}?v=2"
>

<link
    rel="stylesheet"
    href="{% static 'css/componentes/vencimientos.css' %}?v=3"
>

<link
    rel="stylesheet"
    href="{% static 'css/componentes/llamador_alertas.css' %}?v=1"
>

<link
    rel="stylesheet"
    href="{% static 'css/caja/caja.css' %}?v=11"
>

<link
    rel="stylesheet"
    href="{% static 'css/empresa/configuracion_empresa.css' %}?v=3"
>

</head>

<body>

<input
type="hidden"
id="empresaActiva"
value="{{ empresa_actual.id }}">

{% include 'usuarios/perfiles/administrador/partials/sidebar.html' %}

{% include 'usuarios/perfiles/administrador/partials/main.html' %}

{% include 'usuarios/perfiles/administrador/partials/alertas.html' %}

<script src="{% static 'js/perfiles/administrador/panel.js' %}?v=1"></script>

<script src="{% static 'js/perfiles/administrador/panel_navegacion.js' %}?v=1"></script>

<script src="{% static 'js/perfiles/administrador/panel_abms.js' %}?v=1"></script>

{% include 'usuarios/perfiles/administrador/partials/modales_empresa.html' %}

<script src="{% static 'js/maestros/bancos.js' %}?v=2"></script>

<script src="{% static 'js/maestros/centros_operativos.js' %}?v=5"></script>

<script src="{% static 'js/maestros/proveedores.js' %}?v=3"></script>

<script src="{% static 'js/maestros/tipos_gasto.js' %}?v=3"></script>

<script src="{% static 'js/empresa/gestion_claves.js' %}?v=3"></script>

<script src="{% static 'js/maestros/recursos_operativos.js' %}?v=3"></script>

<script src="{% static 'js/maestros/cuentas_bancarias.js' %}?v=2"></script>

<script src="{% static 'js/maestros/tarjetas.js' %}?v=1"></script>

<script src="{% static 'js/maestros/retenciones.js' %}?v=1"></script>

<script src="{% static 'js/registros/carga_simple.js' %}?v=16"></script>

<script src="{% static 'js/registros/obligaciones.js' %}?v=1"></script>

<script src="{% static 'js/comunes/navegacion_modulos.js' %}?v=2"></script>

<script src="{% static 'js/comunes/sidebar.js' %}?v=1"></script>

<script src="{% static 'js/componentes/vencimientos.js' %}?v=4"></script>

<script src="{% static 'js/componentes/llamador_alertas.js' %}?v=2"></script>

<script src="{% static 'js/caja/caja.js' %}?v=10"></script>

<script src="{% static 'js/maestros/clientes.js' %}?v=6"></script>

<script src="{% static 'js/empresa/panel_importacion.js' %}?v=1"></script>

<script src="{% static 'js/empresa/configuracion_empresa.js' %}?v=4"></script>
</body>
</html>
